:root {
  --border-color: var(--var-border-color);
  --text-color-lighter: var(--var-text-color-lighter);
  --text-color: var(--var-text-color);
  --el-text-color-secondary: var(--var-text-color-secondary);
}

:root {
  --var-border-color: #ebedf0;
  --var-text-color-lighter: #909399;
  --var-text-color: #303133;
}

html.dark {
  --var-border-color: #4c4d4f;
}